* { 
	font-family: "Roboto", sans-serif;
}

body {
	background:  #121212 !important;
}


.margin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.btn-size {
    min-width:  50px;
    margin-right:  5px;
    margin-left:  5px;
}

p {
	margin-top:  45px;
}

.box1 .box2 {
	background-color: #202020;
	border-radius: 10px;
	border: 2px solid #202020 ;
	padding:  2px;
	width: 90vw;
	height:  17vh;
}

.box3 {
	background-color: #202020;
	border-radius: 10px;
	border: 2px solid #202020 ;
	padding:  2px;
	margin-top: 10px;
	width: 90vw;
	height:  17vh;
}

/*.spacer forr main_quest*/
.spacer{
	padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.spacer2{
	padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 15px;
    margin-right: 10px;
}

/*name section surname field*/
.col1 {
	min-width: 100px;
	margin-right: 10px;

}

/*alma matter field*/
.col3 {
	width:  50px;
}

/*for main_quest padding*/
.container-fluid1{
	padding-left: 4vw;
}

.error{
	max-width:  40%;
}

img {
  max-width: 100%;
  height: auto;
}

.form-group .idnumber {
  text-align: left !important; /* !important added for priority in SO snippet. */
}
